.progs h1{
    border: 0px solid red;
    background-color: var(--bg-sec);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: var(--medium-gap) 0;
    border-bottom: 0px solid rgba(0, 0, 0, .5);
}

.progs p{
    border: 0px solid red;
    padding: var(--medium-gap) 0;
    font-size: 2rem;
    text-align: center;

    background-color: var(--bg-sec2);
}

.actual-programs{
    background-color: var(--bg-sec2);

    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: var(--large-gap);
    border-bottom: 0px solid rgba(0, 0, 0, .5);

}

.prog-icons{
    border: 0px solid cyan;
    margin: 0 var(--small-gap);
    width: clamp(50px, 100px, 120px);
    height: clamp(50px, 100px, 120px);
    border-radius: 50%;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    

    transition: transform ease .4s;
}

.prog-icons:hover{
    transform: scale(1.1, 1.1);
    transform-origin: center;
}

.prog-icons:nth-child(1),
.prog-icons:nth-child(2),
.prog-icons:nth-child(3){
    font-size: 2rem;
}

.ps{
    background-color: #18152E;
    color: #4FCCFE;
    box-shadow: 0 0 10px;
}

.pr{
    background-color: #330D3E;
    color: #E298F2;
    box-shadow: 0 0 10px;

}

.ae{
    background-color: #221f4b;
    color: #bc50d4;
    box-shadow: 0 0 10px;

}

.loading{
    background-color: gray;
    box-shadow: 0 0 10px;
}

/* ================================================= */
/* Ps-work */
/* ================================================= */

.ps-work{
    margin-bottom: var(--huge-gap);
}

.ps-work p{
    border: 0px solid red;
    padding: var(--large-gap) 0;
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
}

.ps-work-container{
    width: 80%;
    margin: 0 auto;
    border: 0px solid pink;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;

    grid-auto-flow: row;
    gap: 1em;
}

/* --- */

.image{
    background-position: center center;
    transition: background-image ease .1s;
    box-sizing: border-box;
    padding: 1em;


}

.image img{
    width: 100%;
    height: 100%;
    border: 0px solid red;
}

.normal{
    grid-column: span 4;
    grid-row: span 4;
}
/* background image changing stuff */

.wide{ /*3D*/
    color: rgb(192, 63, 63);
    grid-column: span 8;
    grid-row: span 4;

    background-image: url(../assets/3D.png);
    background-size: cover;
}

.ultrawide{ /*vefxistyaosani*/
    grid-column: span 6;
    grid-row: span 3;

    background-image: url(../assets/vefx.jpg);
    background-size: cover;
}

.big{ /* Lenin */
    color: rgb(192, 63, 63);
    grid-column: span 4;
    grid-row: span 4;

    background-image: url(../assets/lenin.jpg);
    background-size: cover;
}



.sunset{
    background-image: url(../assets/sunset.jpg);
    background-size: cover;

    animation: changeBgSunset 1s ease-in-out forwards infinite alternate;

}

@keyframes changeBgSunset {
    0%{
        background-image: url(../assets/sunset.jpg);
    }
    30%{
        background-image: url(../assets/sunset.jpg);
    }
    100%{
        background-image: url(../assets/before/sunset-before.jpg);
    }
}

.colo1{
    color: var(--text-sec);
    background-image: url(../assets/colossus1.jpg);
    background-size: cover;

    animation: changeBgColo1 1s ease-in-out forwards infinite alternate;

}

@keyframes changeBgColo1 {
    0%{
        background-image: url(../assets/colossus1.jpg);
    }
    30%{
        background-image: url(../assets/colossus1.jpg);
    }
    100%{
        background-image: url(../assets/before/colossus1-before1.jpg);
    }
}


.colo2{
    background-image: url(../assets/colossus2.jpg);
    background-size: cover;

    animation: changeBgColo2 1s ease-in-out forwards infinite alternate;
}

@keyframes changeBgColo2 {
    0%{
        background-image: url(../assets/colossus2.jpg);
    }
    30%{
        background-image: url(../assets/colossus2.jpg);
    }
    100%{
        background-image: url(../assets/before/colossus2-before1.jpg);
    }
}


.ural{
    background-image: url(../assets/ural.jpg);
    background-size: cover;

    animation: changeBgUral 1s ease-in-out forwards infinite alternate;
}

@keyframes changeBgUral {
    0%{
        background-image: url(../assets/ural.jpg);
    }
    30%{
        background-image: url(../assets/ural.jpg);
    }
    100%{
        background-image: url(../assets/before/ural-before.jpg);
    }
}

/* ================================================= */
/* Pr-work */
/* ================================================= */

.pr-work{
    border: 0px solid cyan;
    background-color: var(--bg-sec2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-work img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    transition: box-shadow ease .5s;
    margin-bottom: var(--large-gap);
}

.pr-work img:hover{
    box-shadow: 0px 0px 0 5px #161619;
}

/* Allmighty MEDIAQUERIES */

@media (max-width: 1720px){
    .vefx,.sunset{
        grid-column: span 8;
        grid-row: span 4;
    }
    
}

@media (max-width: 960px){
    :root{
        font-size: 14px;
    }
    .big,.colo1,.colo2,.ural{
        grid-column: span 9;
    }

    .vefx{
        background-position: 60% 100%;
    }

    .prog-icons{
        margin: .5em;
        width: clamp(50px, 80px, 120px);
        height: clamp(50px, 80px, 120px);
    }
}

@media (max-width: 500px){

    :root{
        font-size: 12px;
    }

    .ps-work-container{
        width: 95%;
    }

    .wide{
        background-position: 20% 100%;
        grid-column: span 4;
    }

    .big,.colo1,.colo2,.ural{
        grid-column: span 4;
    }

    .vefx,.sunset{
        grid-column: span 4;
        grid-row: span 3;
    }

    .vefx{
        background-position: 90% 100%;
    }

    .prog-icons{
        margin: .5em;
        width: clamp(50px, 70px, 120px);
        height: clamp(50px, 70px, 120px);
    }
}

