.web-dev{
    border: 0px solid red;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.web-dev h1{
    background-color: var(--bg-sec);
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    padding: var(--medium-gap);
    border: 0px solid cyan;
}

.languages{
    border: 0px solid yellow;
    background-color: var(--bg-sec2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: var(--large-gap) 0;
}

.lang{
    border: 0px solid red;
    border-radius: 50%;
    width: clamp(50px, 100px, 120px);
    height: clamp(50px, 100px, 120px);
    margin: 0 var(--small-gap);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    transition: transform ease .5s;
}

.html{
    background-color: #5193A8;
    box-shadow: 0 0 10px #6d9dac;
}

.css{
    background-color: #AF68C8;
    box-shadow: 0 0 10px #b07ec2;

}

.js{
    background-color: #FFA800;
    box-shadow: 0 0 10px #ffcb64;

}

.loading{
    font-size: 1.2rem;
    background-color: gray;
    box-shadow: 0 0 10px;
}

.lang:hover{
    transform: scale(1.1, 1.1);
    transform-origin: center;
}

/* ================================================= */
/* GitHub */
/* ================================================= */

.github{
    border: 0px dashed yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: var(--huge-gap);
}

.github p{
    border: 0px solid red;
    font-size: 2rem;
    text-align: center;
    padding: var(--medium-gap) 0;
}

.github-acc img,.github-acc{
    width: clamp(100px, 300px, 440px);
    height: clamp(100px, 300px, 440px);
    border-radius: 50%;

    transition: box-shadow ease .5s;
}

/* ================================================= */
/* Footer */
/* ================================================= */

.footer{
    background-color: #111;
}

.footer>*{
    margin: var(--medium-gap) var(--large-gap);
}

.footer img,.footer a{
    border-radius: 50%;
    width: clamp(50px, 80px, 100px);
    height: clamp(50px, 80px, 100px);
}

.footer img:hover{
    mix-blend-mode: hard-light;
}

.footer-wrapper{
    border: 0px solid red;
    width: 80%;
    padding: var(--medium-gap) 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* hovers */

.github-acc img:hover{
    box-shadow: 20px 0 2px #111,
                40px 0 4px #222,
                60px 0 6px #333,
                80px 0 10px #444,
                
                -20px 0 2px #111,
                -40px 0 4px #222,
                -60px 0 6px #333,
                -80px 0 10px #444
    ;
}

@media(max-width: 1024px){
    .github{
        justify-content: space-evenly;
    }
}

@media(max-width: 550px){
    :root{
        font-size: 12px;
    }
    .lang{
        border: 0px solid red;
        border-radius: 50%;
        width: clamp(50px, 70px, 120px);
        height: clamp(50px, 70px, 120px);

        margin: .5em;
    }
}
